@import "variables";
@mixin row($wrap: wrap, $justify: flex-start, $align: stretch, $grid-gutter: $grid-gutter) {
  display: flex;
  width: 100%;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin col($gutter: $grid-gutter) {
  flex: 1;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

@mixin explicit-col($colNum, $gutter) {
  flex: none;
  width: percentage($colNum/$grid-column-count);
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

@mixin col-hd($colNum: $grid-column-count, $gutter: $grid-gutter) {
  @include explicit-col($colNum, $gutter);
}

@mixin col-md($colNum: $grid-column-count, $gutter: $grid-gutter) {
  @media (max-width: $maxDesktop) {
    @include explicit-col($colNum, $gutter);
  }
}

@mixin col-tab($colNum: $grid-column-count, $gutter: $grid-gutter) {
  @media (max-width: $maxTablet) {
    @include explicit-col($colNum, $gutter);
  }
}

@mixin col-mob($colNum: $grid-column-count, $gutter: $grid-gutter) {
  @media (max-width: $maxMobile) {
    @include explicit-col($colNum, $gutter);
  }
}

@mixin col-margin-hd($colNum: $grid-column-count) {
  margin-left: percentage($colNum/$grid-column-count);
}

@mixin col-margin-md($colNum: $grid-column-count) {
  @media (max-width: $maxDesktop) {
    margin-left: percentage($colNum/$grid-column-count);
  }
}

@mixin col-margin-tab($colNum: $grid-column-count) {
  @media (max-width: $maxTablet) {
    margin-left: percentage($colNum/$grid-column-count);
  }
}

@mixin col-margin-mob($colNum: $grid-column-count) {
  @media (max-width: $maxMobile) {
    margin-left: percentage($colNum/$grid-column-count);
  }
}