@import "mixins";
@import "grid";
@import "reset";

.container {
  @include container();
}

.grid-row {
  @include row();
}

.col {
  @include col;
}

@for $i from 1 through $grid-column-count {
  .col-hd-#{$i} {
    @include col-hd($i);
  }
}

@for $i from 1 through $grid-column-count {
  .col-md-#{$i} {
    @include col-md($i);
  }
}

@for $i from 1 through $grid-column-count {
  .col-tab-#{$i} {
    @include col-tab($i);
  }
}

@for $i from 1 through $grid-column-count {
  .col-mob-#{$i} {
    @include col-mob($i);
  }
}

@for $i from 0 through $grid-column-count {
  .col-margin-hd-#{$i} {
    @include col-margin-hd($i);
  }
}

@for $i from 0 through $grid-column-count {
  .col-margin-md-#{$i} {
    @include col-margin-md($i);
  }
}

@for $i from 0 through $grid-column-count {
  .col-margin-tab-#{$i} {
    @include col-margin-tab($i);
  }
}

@for $i from 0 through $grid-column-count {
  .col-margin-mob-#{$i} {
    @include col-margin-mob($i);
  }
}

.hide-hd {
  @media (min-width: $minDesktopHD) {
    display: none;
  }
}

.hide-md {
  @media (max-width: $maxDesktop) {
    display: none;
  }
}

.hide-tab {
  @media (max-width: $maxTablet) {
    display: none;
  }
}

.hide-mob {
  @media (max-width: $maxMobile) {
    display: none;
  }
}
