//grid
$grid-gutter: 30px;
$grid-column-count: 12;
$grid-baseline: 13px;

//container
$container-gutter-desktop: 60px;
$container-gutter-tablet: 50px;
$container-gutter-mobile: $grid-gutter;

//page-dimensions
$content-width-HD: 1680px;

//fonts
$base-font-size: 13px;
$base-line-height: 1;


//breakpoints
$minDesktopHD: 1440px;

$maxDesktop: 1439px;
$minDesktop: 1080px;

$maxTablet: 1079px;
$minTablet: 720px;

$maxMobile: 719px;
$minMobile: 420px;
